<div class="row">
    <div class="col mt-3">
        <h1 class="h2 border-bottom pb-2">Awards &amp; Honors</h1>
    </div>
</div>
<div class="row my-2">
    <div class="col">
        <span class="fw-bold d-block">Postdoc Symposium Cover Art</span>
        Scientific artwork highlighting research contributions selected for
        cover of Pfizer Postdoc Symposium program.
    </div>
    <div class="col col-5 col-sm-auto text-end">
        <span class="fw-bold d-block">Pfizer</span>
        <span class="d-block">2024</span>
    </div>
</div>
<div class="row my-2">
    <div class="col">
        <span class="fw-bold d-block" id="OTAA">Outstanding Teaching Assistant
            Award</span>
        Awarded yearly by the Engineering Graduate Student Organization to one
        teaching assistant from each department based on student and faculty
        nominations.
    </div>
    <div class="col col-5 col-sm-auto text-end">
        <span class="fw-bold d-block">University of Pittsburgh</span>
        <span class="d-block">2021</span>
    </div>
</div>
<div class="row my-2">
    <div class="col">
        <span class="fw-bold d-block">Research Experience for Undergraduates
            (REU)</span>
        A 10-week funded research program at a host institution to provide
        undergraduates with hands-on research experience.
    </div>
    <div class="col col-5 col-sm-auto text-end">
        <span class="fw-bold d-block">National Science Foundation</span>
        <span class="fst-italic d-block">Host: University of Pittsburgh</span>
        <span class="d-block">2016</span>
    </div>
</div>
<div class="row my-2">
    <div class="col">
        <span class="fw-bold d-block">Elisha P. Wilbur Mathematics Prize</span>
        Awarded to the highest ranking freshman engineers in mathematics.
    </div>
    <div class="col col-5 col-sm-auto text-end">
        <span class="fw-bold d-block">Lehigh University</span>
        <span class="d-block">2014</span>
    </div>
</div>
