<div class="row">
    <h1 class="h2 border-bottom pb-2">Conference Presentations</h1>
    <ol>
        <li>Shapiro, M.E., &amp; Allen, R. J. "Pharmacoequivalence vs
            Bioequivalence: a role for MIDD analysis in bioequivalence
            studies." Poster presentation at
            <span class="fst-italic">American Conference on Pharmacometrics
                (ACoP)</span>,
            <span class="fw-bold">Aurora, CO</span>, 2025.
            <span class="fst-italic">(Confirmed)</span>
        </li>
        <li>Shapiro, M.E., Mustante, C. J. &amp; Tania, N. "A Quantitative
            Systems Pharmacology Model of LNP-mRNA Uptake Through LDLR
            Binding." Oral presentation at
            <span class="fst-italic">ISoP QSP SIG Virtual
                Student &amp; Trainee Symposium</span>,
            <span class="fw-bold">Virtual</span>, 2025.
        </li>
        <li>Shapiro, M.E., Mustante, C. J. &amp; Tania, N. "A Quantitative
            Systems Pharmacology Model of LNP-mRNA Uptake Through LDLR
            Binding." Poster presentation at
            <span class="fst-italic">American
                Conference on Pharmacometrics (ACoP)</span>,
            <span class="fw-bold">Phoenix, AR</span>, 2024.
        </li>
        <li>Shapiro, M. E., Corcoran, T. E., Bertrand, C. A. &amp;
            Parker, R. S. "Up, Up, and Away: A Physiologically-Motivated
            Dynamic Model of the Lung's Mucociliary Clearance Escalator."
            Oral presentation at <span class="fst-italic">American Institute
                of Chemical Engineers (AIChE) Annual Meeting</span>,
                <span class="fw-bold">Boston, MA</span>, 2021.
        </li>
        <li>
            Shapiro, M. E., Parker, R. S., Bertrand, C. A.,
            Serrano Castillo, F. &amp; Corcoran, T. E. "Mathematical Model of
            Mucociliary Clearance and Airway Surface Liquid Absorption
            Dynamics." Poster presentation at <span class="fst-italic">North
                American Cystic Fibrosis Conference (NACFC)</span>,
                <span class="fw-bold">Nashville, TN</span>, 2019.
        </li>
        <li>
            Shapiro, M. E., Corcoran, T. E., Bertrand, C. A.,
            Serrano Castillo, F. &amp; Parker, R. S. "Physiologically-Based
            Model of Fluid Absorption and Mucociliary Clearance in Cystic
            Fibrosis." Poster presentation at
            <span class="fst-italic">Foundations of Systems Biology in
                Engineering (FOSBE)</span>,
            <span class="fw-bold">Chicago, IL</span>, 2018.
        </li>
    </ol>
</div>
