<div class="row">
    <div class="col"><h1 class="h2 border-bottom pb-2">Education</h1></div>
</div>
<div class="row">
    <div class="col">
        <h2 class="h5 mb-1">University of Pittsburgh</h2>
        <span class="d-block">
            <em>Ph.D. in Chemical Engineering,</em> GPA: 3.88
        </span>
        <span class="d-block fw-bold">Thesis Advisors:</span>
        <ul class="mb-1">
            <li>Robert S. Parker, Ph.D.</li>
            <li>Timothy E. Corcoran, Ph.D. (Division of Pulmonary, Allergy,
                and Critical Care Medicine)
            </li>
        </ul>
    </div>
    <div class="col col-5 col-sm-auto text-end">
        <span class="d-block">Pittsburgh, PA</span>
        <span class="d-block">2017 &mdash; 2023</span>

    </div>
</div>
<div class="row">
    <div class="col">
        <h2 class="h5 mb-1">Lehigh University</h2>
        <span class="d-block">
            <em>B.S. in Chemical Engineering,</em> GPA: 3.48
        </span>
    </div>
    <div class="col col-5 col-sm-auto text-end">
        <span class="d-block">Bethlehem, PA</span>
        <span class="d-block">2013 &mdash; 2017</span>
    </div>
</div>
