<div class="row">
    <div class="col">
        <h1 class="h2 border-bottom pb-2">Leadership Experience</h1>
        <h2 class="h5 mb-1">Graduate Women in Engineering Network</h2>
    </div>
</div>
<div class="row">
    <div class="col"><em class="d-block">President</em></div>
    <div class="col col-auto"><span class="d-block">2020 &mdash; 2022</span>
    </div>
</div>
<div class="row">
    <div class="col">
        <ul class="mb-1">
            <li>Delegated responsibilities amongst executive board</li>
            <li>Coordinated peer mentoring groups for graduate women in
                engineering to set and track progress towards professional
                goals</li>
            <li>Partnered with faculty across departments to organize mentoring
                events with prominent women speakers</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col"><em class="d-block">Treasurer</em></div>
    <div class="col col-auto"><span class="d-block">2019 &mdash; 2020</span>
    </div>
</div>
<div class="row">
    <div class="col">
        <ul class="mb-1">
            <li>Spearheaded efforts to increase participation from first-year
                students
            </li>
            <li>Co-led workshop on "Social Inequalities and Bias"</li>
            <li>Revamped digital media presence and designed new logo</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col"><h2 class="h5 mb-1">Ingenium</h2></div>
</div>
<div class="row">
    <div class="col"><em class="d-block">Grduate Student Reviewer</em></div>
    <div class="col col-auto"><span class="d-block">2019 &mdash; 2022</span>
    </div>
</div>
<div class="row">
    <div class="col">
        <ul class="mb-1">
            <li>Reviewed abstracts and paper submissions for undergraduate
                research journal
            </li>
            <li>Fostered undergraduate engagement with peer-review publication
                process
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col"><h2 class="h5 mb-1">Chemical Engineering Graduate Safety
        Committee</h2></div>
</div>
<div class="row">
    <div class="col"><em class="d-block">Lab Representative</em></div>
    <div class="col col-auto"><span class="d-block">2018 &mdash; 2020</span>
    </div>
</div>
<div class="row">
    <div class="col">
        <ul class="mb-1">
            <li>Inspected Chemical Engineering laboratory spaces for potential
                safety hazards
            </li>
            <li>Collaborated with committee members to develop safety
                best-practices</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col"><h2 class="h5 mb-1">Chemical Engineering Graduate Student
        Association</h2></div>
</div>
<div class="row">
    <div class="col"><em class="d-block">Recruitment Chair</em></div>
    <div class="col col-auto"><span class="d-block">2018 &mdash; 2019</span>
    </div>
</div>
<div class="row">
    <div class="col">
        <ul class="mb-1">
            <li>Planned and executed 4-day recruitment weekend for 25
                prospective Chemical Engineering Ph.D. students and their
                graduate student hosts</li>
            <li>Successfully recruited 70% of visiting students &mdash; a 20%
                increase from previous year
            </li>
            <li>Cultivated a sense of community amongst graduate students and
                faculty through social and volunteer events
            </li>
        </ul>
    </div>
</div>
