<h1 class="h6 mt-3 fw-bold text-center">Computer Skills</h1>
<div class="row justify-content-center">
    <div class="col-auto">Julia</div>
    <div class="col-auto">Python</div>
    <div class="col-auto">MATLAB</div>
    <div class="col-auto">R</div>
    <div class="col-auto">Blender</div>
    <div class="col-auto">Aspen Suite</div>
    <div class="col-auto">HTML5/CSS</div>
    <div class="col-auto">ImageJ</div>
</div>
<h1 class="h6 mt-3 fw-bold text-center">Languages</h1>
<div class="row justify-content-center">
    <div class="col-auto col-lg-12 text-center">English &mdash; Native</div>
    <div class="col-auto col-lg-12 text-center">French &mdash; Familiar</div>
</div>
<h1 class="h6 mt-3 fw-bold text-center">Relevant Coursework</h1>
<div class="row justify-content-center">
    <div class="col-auto col-lg-12 text-center">Bayesian Signal Processing</div>
    <div class="col-auto col-lg-12 text-center mt-2">Optimal Control</div>
    <div class="col-auto col-lg-12 text-center mt-2">Statistical &amp; Computational Methods for Systems Biology</div>
    <div class="col-auto col-lg-12 text-center mt-2">Data Inference &amp; Applied Machine Learning</div>
    <div class="col-auto col-lg-12 text-center mt-2">Advanced Scientific Visual Communication</div>
    <div class="col-auto col-lg-12 text-center mt-2">Molecular Modeling and Simulation</div>
</div>
