<h1 class="h6 mt-3 fw-bold text-center">Computer Skills</h1>
<div class="row justify-content-center">
    <div class="col-auto">Python</div>
    <div class="col-auto">MATLAB</div>
    <div class="col-auto">R</div>
    <div class="col-auto">Blender</div>
    <div class="col-auto">Aspen Suite</div>
    <div class="col-auto">Microsoft Office Suite</div>
    <div class="col-auto">HTML5/CSS</div>
    <div class="col-auto">ImageJ</div>
</div>
<h1 class="h6 mt-3 fw-bold text-center">Languages</h1>
<div class="row justify-content-center">
    <div class="col-auto col-lg-12 text-center">English &mdash; Native</div>
    <div class="col-auto col-lg-12 text-center">French &mdash; Familiar</div>
</div>
