<div class="row justify-content-center mt-2 mt-lg-3">
    <h1 class="h6 fw-bold text-center">Contact</h1>
</div>
<div class="row justify-content-center">
    <div class="col-auto">
        <i class="fas fa-envelope d-inline-block"></i>
        <a class="d-inline-block" href="mailto:{{ site.email }}">{{ site.email }}</a>
    </div>
    <div class="col-auto">
        <i class="fas fa-mobile-alt d-inline-block"></i>
        <span class="d-inline-block">(617) 820-6253</span>
    </div>
    <div class="col-auto">
        <a href="/assets/CV_Shapiro.pdf">Resume PDF</a>
    </div>
</div>
<div class="row justify-content-center mt-2 mt-lg-3">
    <h1 class="h6 fw-bold text-center">Computer Skills</h1>
</div>
<div class="row justify-content-center">
    <div class="col-auto">Python</div>
    <div class="col-auto">MATLAB</div>
    <div class="col-auto">R</div>
    <div class="col-auto">Blender</div>
    <div class="col-auto">Aspen Suite</div>
    <div class="col-auto">Microsoft Office Suite</div>
</div>
<div class="row justify-content-center mt-2 mt-lg-3">
    <h1 class="h6 fw-bold text-center">Languages</h1>
</div>
<div class="row justify-content-center">
    <div class="col-auto col-lg-12 text-center">English &mdash; Native</div>
    <div class="col-auto col-lg-12 text-center">French &mdash; Familiar</div>
</div>
