<div class="row">
    <div class="col mt-3">
        <h1 class="h2 border-bottom pb-2">Publications</h1>
    </div>
    <ol>
        <li>Zhou, J., Rohit, R., <span class="fw-bold">Shapiro, M. E.</span>,
            et al. "Model-Informed Drug Development Applications and
            Opportunities in mRNA-LNP Therapeutics."
            <span class="fst-italic">Clinical Pharmacology and
                Therapeutics</span> (2025).
        </li>
        <li><span class="fw-bold">Shapiro, M. E.</span>, et al.
            "A Physiologically-based Model of Localized Mucociliary Clearance
            in the Airways." <span class="fst-italic">medRxiv</span> (2025).
        </li>
        <li>Corcoran, T. E., ..., <span class="fw-bold">Shapiro, M. E.</span>,
            et al. "Nasal epithelial cell FRAP predicts cystic fibrosis
            therapeutic response." <span class="fst-italic">European
            Respiratory Journal</span> (2022).</li>
        <li>Serrano Castillo, F., ...,
            <span class="fw-bold">Shapiro, M. E.</span>, et al.
            "A physiologically-motivated model of cystic fibrosis liquid
            and solute transport dynamics across primary human nasal
            epithelia." <span class="fst-italic">Journal of Pharmacokinetics
            and Pharmacodynamics</span> (2019).</li>
        <li><span class="fw-bold">Shapiro, M. E.</span>, et al.
            "Physiologically-Based Model of Fluid Absorption and Mucociliary
            Clearance in Cystic Fibrosis." <span class="fst-italic">IFAC
            PapersOnLine</span> <span class="fw-bold">51</span>, 102–103
            (2018).</li>
        <li>Serrano Castillo, F., Bertrand, C. A., Corcoran, T. E.,
            <span class="fw-bold">Shapiro, M. E.</span> &amp; Parker, R. S.
            "A Dynamic Model of Cystic Fibrosis Airway Epithelium
            Electrophysiology."
            <span class="fst-italic">IFAC PapersOnLine</span>
            <span class="fw-bold">51</span>, 94–97 (2018).</li>
    </ol>
</div>
