<div class="row">
    <div class="col mt-3">
        <h1 class="h2 border-bottom pb-2">Research Experience</h1>
        <h2 class="h5 mb-1">Pfizer, Inc.</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <em class="d-block">Postdoctoral Research Fellow</em>
    </div>
    <div class="col col-auto">
        <span class="d-block">2023 &mdash; Present</span>
    </div>
</div>
<div class="row">
    <div class="col">
        <span class="d-block"><span class="fw-bold">Mentors:</span>
        Nessy Tania and C.J. Mustante</span>
        <ul class="mb-1">
            <li>Developed quantitative systems pharmacology (QSP) model of
                lipid nanoparticle (LNP)-mRNA uptake through the LDL receptor
                that incorporates binding competition with endogenous LDL
            </li>
            <li>Supported bioequivalence assessment using previously published
                QSP model
            </li>
            <li>Mentored undergraduate summer intern on a project evaluating
                machine learning algorithms to accelerate virtual population
                generation for QSP models
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col">
        <h2 class="h5 mb-1">University of Pittsburgh</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <em class="d-block">Graduate Student Researcher</em>
    </div>
    <div class="col col-auto">
        <span class="d-block">2017 &mdash; 2023</span>
    </div>
</div>
<div class="row">
    <div class="col">
        <span class="d-block"><span class="fw-bold">Thesis Title:</span>
        "Towards Personalized Medicine in Cystic Fibrosis: Patient-Specific
        Modeling of Mucociliary Clearance and Airway Surface Liquid Absorption"
        </span>
        <span class="d-block"><span class="fw-bold">Advisors:</span>
        Robert Parker and Timothy Corcoran</span>
        <ul class="mb-1">
            <li>Built open-source profile likelihood estimator package in
                Python
                (<a href="https://github.com/monshap/plepy">
                    <span class="font-monospace">plepy</span>
                </a>)
            </li>
            <li>Mentored an NSF REU summer intern on a profile likelihood
                project</li>
            <li>Automated majority of gamma cammera image processing to
                increase efficiency and reduce impact of human error.
            </li>
            <li>Developed physiologically-based dynamic model of mucus
                clearance through airways that captures spatial differences
                between subjects, resulting in 2 conference presentations
            </li>
            <li>Extended previous model to account for paracellular absorption
                increase in alveoli relative to conducting airways
            </li>
            <li>Produced a <a href="https://youtu.be/KzZMTCQlhqo">video
                overview</a> of our research vision with a team of students for
                the final project of Advanced Scientific Visual Communication
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col">
        <em class="d-block">NSF REU Intern</em>
    </div>
    <div class="col col-auto">
        <span class="d-block">Summer 2016</span>
    </div>
</div>
<div class="row">
    <div class="col">
        <span class="d-block"><span class="fw-bold">Advisors:</span>
        Robert Parker and Timothy Knab</span>
        <ul class="mb-1">
            <li>Designed graphical user interface for
                pharmacokinetic/pharmacodynamic model of IV chemotherapy
                treatment for solid tumors</li>
            <li>Modified dynamic models to adapt drug sensitivity parameters
                based on real-time clinical data</li>
        </ul>
    </div>
</div>
