<div class="row">
    <div class="col mt-3">
        <h1 class="h2 border-bottom pb-2" id="teach">Teaching Experience</h1>
    </div>
</div>
<div class="row my-2">
    <div class="col">
        <span class="fw-bold d-block">Reactive Process Engineering (CHE 0400)
        </span>
        <span class="fst-italic d-block">Teaching Assistant</span>
        <ul class="mb-1">
            <li>Taught weekly virtual recitations, held office hours, made
                solution guides, and graded</li>
            <li>Designed introductory MATLAB recitation</li>
            <li>Won <a href="#OTAA">Outstanding Teaching Assistant of the
                Year</a> award for work in this course</li>
        </ul>
    </div>
    <div class="col col-5 col-sm-auto text-end">
        <span class="fw-bold d-block">University of Pittsburgh</span>
        <span class="d-block">Spring 2021</span>
    </div>
</div>
<div class="row my-2">
    <div class="col">
        <span class="fw-bold d-block">Engineering a Craft Brewery (ENGR 1933)
        </span>
        <span class="fst-italic d-block">Grader</span>
        <ul class="mb-1">
            <li>Graded final exam, homeworks, and sensory perception
                quizzes</li>
        </ul>
    </div>
    <div class="col col-5 col-sm-auto text-end">
        <span class="fw-bold d-block">University of Pittsburgh</span>
        <span class="d-block">Spring 2018, Spring 2019, Spring 2020, Spring
            2021, Spring 2022</span>
    </div>
</div>
<div class="row my-2">
    <div class="col">
        <span class="fw-bold d-block">Systems Engineering I: Dynamics and
            Modeling (CHE 0500)</span>
        <span class="fst-italic d-block">Teaching Assistant</span>
        <ul class="mb-1">
            <li>Taught weekly recitations using Simulink/MATLAB, held office
                hours, and graded</li>
        </ul>
    </div>
    <div class="col col-5 col-sm-auto text-end">
        <span class="fw-bold d-block">University of Pittsburgh</span>
        <span class="d-block">Fall 2018, Fall 2019</span>
    </div>
</div>
<div class="row my-2">
    <div class="col">
        <span class="fw-bold d-block">Methods of Analysis in Chemical
            Engineering (CHE 201)</span>
        <span class="fst-italic d-block">Apprentice Teacher</span>
        <ul class="mb-1">
            <li>Assisted with weekly computational labs using MATLAB, Excel,
                and Aspen Plus, held office hours, and graded
            </li>
            <li>Instructed lab section when professor was absent</li>
        </ul>
    </div>
    <div class="col col-5 col-sm-auto text-end">
        <span class="fw-bold d-block">Lehigh University</span>
        <span class="d-block">Fall 2016</span>
    </div>
</div>
